/* Basic Styling */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar */
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 15px 30px;
}

#logo {
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(16, 228, 203, 0.622);
}

/* Navigation Links:- */
.nav-links a {
  text-decoration: none;
  list-style: none;
  color: white;
  padding: 8px 12px;
}

.nav-links a:hover {
  background-color: rgb(79, 76, 76);
  border-radius: 4px;
}

/* Dropdown-Menu: */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 5px 15px;
}

.dropdown-menu a {
  display: block;
  padding: 8px 10px;
}

.dropdown-menu a:hover .dropdown-menu {
  display: block;
}
